
@{
    ViewBag.Title = "PaymentSuccess";
}

<h2>Payment Successful</h2>

<p>Thank you for making your payment online, we have adjusted your account balance to reflect your payment.</p>

<div>
    @Html.ActionLink("Back to My Account", "MyAccount")
</div>