
@{
    ViewBag.Title = "PaymentFailure";
}


<h2>Payment Not Successful</h2>

<p>There was some error trying to process your payment, we apologize for the inconvenience, please try again at another time or make other payment arrangememnts with us.</p>


