@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="lead-left">
        <h1>Trash Collector</h1>
        <p class="lead-text">We are dedicated to keep our community clean by adhering to only the best in trash collection services.</p>
    </div>
    <div class="lead-right">
        <img src="~/Images/garbagemanedited.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Become A Customer</h2>
        <p>
            Register an account to become a customer today!
        </p>
        <p>@Html.ActionLink("Register", "Account", "Register", null, new { @class="classname" })</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Account</h2>
        <p>Log in to view and manage your account preferences</p>
        <p>@Html.ActionLink("Login", "Account", "Login", null, new { @class = "classname" })</p>
       
    </div>
    <div class="col-md-4">
        <h2>Employee Access</h2>
        <p>Commited to giving our employees only the best, we encourage you to log in to your employee account for route access and other info</p>
        <p>@Html.ActionLink("Login", "Account", "Login", null, new { @class = "classname" })</p>
    </div>
</div>